<div class="container-fluid cont-footer">
    <div class="container">
    <div class="row row-footer-one">
        <div class="col col-sm-12 col-md-12 col-12 col-footer-one">
            <div class="close-sesion">
                <h6>Crear un nuevo grupo</h6>
                <button class="btn-sesion" (click)="closeSesion()">Cerrar sesión</button>
            </div>
        </div>
    </div>
    <div class="row row-footer-two">
        <div class="col col-sm-12 col-md-12 col-12 col-footer-two">
            <div class="footer-bar">
                <h6>Ayuda</h6>
                <h6>Sobre nosotros</h6>
                <h6>Meetup Pro</h6>
                <h6>Empleos</h6>
                <h6>Aplicaciones</h6>
                <h6>Api</h6>
                <h6>Temas</h6>
                <h6>Buscar ciudades</h6>
                <h6>Blog</h6>
            </div>
            <div>
                <h6 class="siguenos">Síguenos</h6>
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </div>
            <div>
                <p class="copyright">© 2019 Meetup  Meetup es una subsidiaria totalmente controlada por WeWork Companies Inc.</p>
            </div>
            <div class="conditions">
                <h6 class="privacy">Privacidad</h6>
                <h6>Condiciones</h6>
            </div>
        </div>
    </div>
</div>
</div>